#
#
# make.config for ISO-3DFD
#
######################################################################

#   C Compiler
CONFIG_CC = gcc
CONFIG_RM = rm -f

######### DEFAULT OPTIMIZATIONS
CONFIG_OPT= -g


# includes
CONFIG_INCLUDES=

# Options compilation
CONFIG_CFLAGS= $(CONFIG_INCLUDES) $(CONFIG_OPT)

# Librairies Fortran
CONFIG_LIBS=


# rules
%.o: %.cc
	$(CONFIG_CC) $(CONFIG_DEFS) $(CONFIG_CFLAGS) -o $@ -c $<
